.btn-brown {
	background-color: #61442F;
	font-family: "Tektur", sans-serif;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
}
.btn-brown:hover {
	background-color: black;
	color: white;